In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [3]:
sheets = wb.DataReader('F',data_source='yahoo',start='1995-01-01')

In [4]:
sheets

                 High        Low       Open      Close      Volume  Adj Close
Date
1995-01-03  10.264290   9.762480  10.218671  10.173051   5664298.0   4.380182
1995-01-04  10.446766  10.218671  10.218671  10.446766   7163124.0   4.498034
1995-01-05  10.583623  10.081813  10.538004  10.355528   9270247.0   4.458752
1995-01-06  10.538004  10.309909  10.401147  10.355528   4497845.0   4.458752
1995-01-09  10.583623  10.355528  10.401147  10.538004   6810201.0   4.537318
...               ...        ...        ...        ...         ...        ...
2021-10-11  15.360000  14.970000  15.200000  15.090000  45302300.0  15.090000
2021-10-12  15.680000  15.010000  15.110000  15.640000  89134000.0  15.640000
2021-10-13  15.690000  15.270000  15.590000  15.510000  63363500.0  15.510000
2021-10-14  15.620000  15.370000  15.620000  15.450000  50720300.0  15.450000
2021-10-15  15.810000  15.535000  15.540000  15.770000  16727447.0  15.770000

[6746 rows x 6 columns]

In [10]:
col = ['AAPL','MSFT','T','F','GE','PG']
newdata = pd.DataFrame()
for t in col:
    newdata[t] = wb.DataReader(t,data_source='yahoo',start='1995-01-01')['Adj Close']

In [11]:
newdata

,AAPL,MSFT,T,F,GE,PG
Date,,,,,,
1995-01-03,0.290871,2.379199,5.765278,4.380181,32.906101,8.063838
1995-01-04,0.298451,2.396494,5.732317,4.498033,32.906101,7.999201
1995-01-05,0.294660,2.356964,5.821884,4.458749,32.986767,7.886081
1995-01-06,0.318347,2.396494,5.821884,4.458749,32.825432,7.902239
1995-01-09,0.312307,2.381670,5.803972,4.537316,32.502842,7.869919
...,...,...,...,...,...,...
2021-10-11,142.809998,294.230011,26.030001,15.090000,104.080002,142.320007
2021-10-12,141.509995,292.880005,25.430000,15.640000,102.720001,142.110001
2021-10-13,140.910004,296.309998,25.299999,15.510000,102.360001,142.440002
2021-10-14,143.759995,302.750000,25.620001,15.450000,102.739998,144.050003
2021-10-15,144.210007,301.154999,25.909901,15.815000,105.879997,144.850006

In [14]:
newdata.tail(20)

                  AAPL        MSFT          T       F          GE          PG
Date
2021-09-20  142.940002  294.299988  26.691904  12.820   99.732445  142.889999
2021-09-21  143.429993  294.799988  26.446663  12.770   96.744766  143.110001
2021-09-22  145.850006  298.579987  26.495712  13.230   98.463432  143.600006
2021-09-23  146.830002  299.559998  26.672285  13.710  102.879997  144.190002
2021-09-24  146.919998  299.350006  26.613426  13.780  103.800003  143.550003
2021-09-27  145.369995  294.170013  26.878286  14.160  105.349998  141.660004
2021-09-28  141.910004  283.519989  26.721333  14.310  105.730003  140.589996
2021-09-29  142.830002  284.000000  26.878286  14.300  106.279999  142.020004
2021-09-30  141.500000  281.920013  26.495712  14.160  103.029999  139.800003
2021-10-01  142.649994  289.100006  26.642857  14.160  105.820000  139.580002
2021-10-04  139.139999  283.109985  26.731142  14.350  104.900002  138.789993
2021-10-05  141.110001  288.760010  26.829239  14.290  104.900002  139.330002
2021-10-06  142.000000  293.109985  26.789999  14.120  104.330002  141.190002
2021-10-07  143.289993  294.850006  27.090000  14.890  105.510002  142.320007
2021-10-08  142.899994  294.850006  26.770000  15.120  104.720001  141.729996
2021-10-11  142.809998  294.230011  26.030001  15.090  104.080002  142.320007
2021-10-12  141.509995  292.880005  25.430000  15.640  102.720001  142.110001
2021-10-13  140.910004  296.309998  25.299999  15.510  102.360001  142.440002
2021-10-14  143.759995  302.750000  25.620001  15.450  102.739998  144.050003
2021-10-15  144.210007  301.154999  25.909901  15.815  105.879997  144.850006

In [15]:
newdata.head(15)

                AAPL      MSFT         T         F         GE        PG
Date
1995-01-03  0.290871  2.379199  5.765278  4.380181  32.906101  8.063838
1995-01-04  0.298451  2.396494  5.732317  4.498033  32.906101  7.999201
1995-01-05  0.294660  2.356964  5.821884  4.458749  32.986767  7.886081
1995-01-06  0.318347  2.396494  5.821884  4.458749  32.825432  7.902239
1995-01-09  0.312307  2.381670  5.803972  4.537316  32.502842  7.869919
1995-01-10  0.331138  2.411316  5.821884  4.458749  32.744789  7.966880
1995-01-11  0.354351  2.426141  5.768140  4.458749  33.228714  7.950722
1995-01-12  0.343928  2.421200  5.786058  4.419468  33.148060  8.031518
1995-01-13  0.340139  2.480494  5.786058  4.498033  33.551334  8.125781
1995-01-16  0.337296  2.534847  5.893538  4.556961  33.954586  8.190784
1995-01-17  0.341086  2.554613  5.875625  4.517675  33.551334  8.223289
1995-01-18  0.345823  2.571906  5.821884  4.439108  33.712635  8.044520
1995-01-19  0.347718  2.510141  5.875625  4.321256  32.906101  8.012020
1995-01-20  0.323084  2.436024  5.839796  4.144478  32.906101  7.979513
1995-01-23  0.320242  2.482964  5.947278  4.124834  32.422207  8.060771